header {
   margin: 20px 0 40px 0;
}

nav {
   border: 2px solid black;
   border-radius: 10px;
}

ul {
   margin: 0 auto;
   list-style-type: none;
   overflow: hidden;
}

li {
   float: left;
}

li a {
   display: block;
   color: black;
   text-align: center;
   padding: 18px 20px;
   text-decoration: none;
   font-weight: 200;
}

ul .logo a {
   font-weight: 700;
}

/* gnb hover */
li:not(:first-child) a:hover {
   background-color: rgba(0, 0, 0, 0.089);
   color: black;
}
nav .logo .active {
   text-decoration: none;
}
nav .active {
   text-decoration: underline;
   text-decoration-color: red;
   text-decoration-style: wavy;
   text-underline-offset: 5px;
}
